.curr-container{
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    transition: 0.3s all ease;
}

button{
    width: 400px;
    height: 40px;
    font-size: 14px;
    color: white;
    background-color: rgba(4, 46, 23, 1);
    outline: none;
    border: none;
    margin-bottom: 5px;
}

.timetable{
    width: 800px;
    height: 400px;
}

.timetable img{
    width: 100%;
    height: 100%;
}